body{
	margin: 0;
	padding: 0;
}
/* wraps header and front info */
.banner{
	background-color: #0086fe;
	box-sizing: border-box;
	position: relative;
	max-width: 100%;
	height: 670px;
	padding:10px;
}
.header h1 a{
	color: #fff;
	text-decoration: none;
}
.header h1 a span{
	letter-spacing: 11px;
	padding: 5px 0px 5px 13px;
	display: block;
	font-size: 0.3em;
	background-color: #f8c255;
	box-sizing: border-box;
	color: #337ab7;
}

.social-media-icon{
	position: relative;
	
}
.social-media-icon ul li{
	list-style: none;
}
.social-media-icon ul li img{
	width: 30px;
}

.banner-info{
	top:-110px;
}
.banner-info h2 span{
	color: #171717;
}
.banner-info h2{
	font-size: 2em;
	letter-spacing: 2px;
	text-shadow: 1px 1px 2px #000;
	color: #ecb731;
}
.banner-info-desc{
	font-size: 1.8em;
	line-height: 1.5em;
	letter-spacing: 7px;
	font-weight: 300;
	text-shadow: 1px 1px 2px #000;
	color: #ecb731;
}
.banner-info-desc b{
	color: #fff;
}

/* incomplete here make the typed cursor move */
.typed-cursor{
	font-weight: 300;
	font-size: 2em;
	color: #fff;
}
.banner-details{
	font-size: 17px;
	line-height: 31px;
	color: #fff;
	letter-spacing: 3px;
	width: 600px;
	box-sizing: border-box;
}
/* Design of about*/
.cover-image img{
	image-orientation: from-image;
}
.about h3{
	margin-bottom: 10px;
	font-size: 2.3em;
	text-align: center;
	color: #303030;
	letter-spacing: 2px;
}
.about h3 span{
	font-size: 13px;
	display: block;
	letter-spacing: 4px;
	margin-top: 5px;
	text-transform: uppercase;
	color: #ecb731;
}
.about p{
	margin: 0;
	padding-left: 35px;
	text-align: justify;
	font-size: 16px;
	line-height: 30px;
}
.about ul{
	margin-top: 35px;
}
.about ul span{
	width: 141px;
	display: inline-block;
	color: #4a4a4a;
	margin-left: 0px;
}
.about ul li{
	list-style: none;
	margin-bottom: 10px;
	letter-spacing:0.2px;
	box-sizing: border-box;
}
/* End of about design */
/* Design of education*/
.education{
	
}
.education h3{
	margin-bottom: 10px;
	font-size: 2.3em;
	text-align: center;
	color: #303030;
	letter-spacing: 2px;
}
.education h3 span{
	font-size: 13px;
	display: block;
	letter-spacing: 4px;
	margin-top: 5px;
	text-transform: uppercase;
	color: #ecb731;
}
.education1{
	color: #0086fe;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
	padding-left: 60px;	
}
.education-info{
	
	margin-top: 10px;
	
}
.education-info h6{
	padding-left: 1px;
	font-size: 17px;
	display: inline;
}
.card-header h3{
	color: #ecb731;
	font-size: 20px;
	letter-spacing: 1.5px;
	margin-bottom: 12px;
}
/* End of education design */
/* Design of services*/
.services-web{
	background-color: #ffffff;
	text-align: center;
	color: #ecb731;
	font-size: 1.5em;
	letter-spacing: 1.5px;
}

/* End of services design */
/* Design of project*/
.project{
	background-color: #fff;
	margin-top:-20px;
}
.container img{
	width: 600px;
}
.my-project{
	margin-left: 200px;
	padding-top: 5px;
	margin-bottom: 50px;
	box-sizing: border-box;
	width: 340px;
	background-color: #ffffff;
}
/*  End of project design */
/* Design of contact*/
.contact{
	background-color: ;
}
.contact h3{
	margin-bottom: 10px;
	font-size: 2.3em;
	text-align: center;
	color: #303030;
	letter-spacing: 2px;
}
.contact h3 span{
	font-size: 13px;
	display: block;
	letter-spacing: 4px;
	margin-top: 5px;
	text-transform: uppercase;
	color: #ecb731;
}
.wrap-contact-form{
	background-color:#ecb731;
	width: 50%;
	padding: 35px 60px;
	box-sizing: border-box;

}
.wrap-contact-form form input{
	display: block;
	width: 100%;
	margin-top: 20px;
	border: hidden;
	background-color: #ecb731;
	border-bottom: 1px solid #fff;
}
.wrap-contact-form form textarea{
	width: 100%;
	margin-top: 20px;
	border: hidden;
	overflow: hidden;
	background-color: #ecb731;
	border-bottom: 1px solid #fff;
}
.form-button{
	background-color: #111;
	margin-top: 10px;
	color: #fff;
	padding: 5px;
	box-sizing: border-box;
	font-weight: bold;
	width: 100px; 	
	cursor: pointer;
}
.form-button:hover{
	background-color: #fff;
	color: #000;
}
/*  End of contact design*/
/* Design of contact-info*/
.footer{
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 10px;	
}

/*  End of contact-info design*/
